/* style.css */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.meme-generator {
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.meme-generator img {
  width: 50%;
  height: 50%;
  max-height: 50%;
  object-fit: cover;
  margin-top: 0px;
}

.meme-generator .generate-meme-btn {
  padding: 8px 20px;
  border: none;
  border-left: 4px solid #222;
  border-right: 4px solid #222;
  margin: 24px 0;
  font-size: 20px;
  color: #f64d4d;
  background: #fff;
  cursor: pointer;
  transition: all 400ms ease;
}

.meme-generator .generate-meme-btn:hover {
  padding: 8px 36px;
  border-left: 8px solid #222;
  border-right: 8px solid #222;
  letter-spacing: 3px;
}

.meme-box {
  border: 10px solid #1a0909;
  padding: 0;
  margin-top: 0;
}

.meme-title {
  margin-bottom: 10px;
}

.meme-author {
  margin-top: 10px;
  font-style: italic;
  color: #8f1919;
}
